* {
    outline: none;
}

.padded-content {
    padding: 0 15% 0 15%;
}

.main-container {
    font-family: Roboto, sans-serif;
    height: 100%;
}


.header {
    background-color: #1F2937;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.hero-logo {
    font-size: 24px;
    color: #f9faf8;
    padding: 10px 20px 10px 0;
    font-weight: 600;
}

.links {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    transition: 0.35s;

}

.link-box:hover {
    color: #edf0f5;
}

.link-box {
    padding: 0 1vw;
}


.links a:link,
a:hover,
a:visited,
a:active {
    text-decoration: none;
    color: #a7a9ad;
}



.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    margin: 1% 0;
}

.Sing-up-button {
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 1% 0;
    border: none;
}


.header-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 10% 0;


}

.second-block {
    background-color: #f9faf8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-text-container {
    text-align: center;
    padding: 60px 20px;
}

.second-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.center-el {
    display: grid;
    place-items: center;

}

.butons-container {
    display: grid;
    grid-template-columns: repeat(4, 140px);
    place-items: center;
    gap: 40px;
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 12%;


}

.image-button {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.illustration {
    border: 4px solid #3b82f6;
    height: 140px;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 15px;
}

.subtext {
    font-size: 14px;
    color: #555;
    position: relative;
}

.quote-container {
    background-color: #dddfe4;
}

.quote-text-container {
    display: flex;
    flex-direction: column;
    padding: 10% 11vw 10% 14vw;
}

.quote-text {
    font-style: italic;
    font-size: 30px;
    font-weight: 300;
}

.under-quote {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}

.spam {
    background-color: #3b82f6;
    height: 140px;
    width: 60%;
    border-radius: 10px;
    /* padding: 5% 10%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.spam-text {
    padding-right: 20%;
}

.call {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 5px;
    font-weight: 600;
}

.push {
    font-size: 14px;
    color: #d2d3d5;
}

.Sing-up {
    background-color: #3882f6;
    color: #e5e7eb;
    border: 3px solid #e5e7eb;
    border-radius: 5px;
    padding: 5px 25px;

}

.author-qoute {
    display: flex;
    justify-content: flex-end;
    color: #1F2937;
    font-weight: 700;
    padding-right: 2vw;
    font-size: 18px;
}

@media screen and (max-width:768px) {
    .author-qoute {
        color: red;
    }
}